@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');


* {
    box-sizing:border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: cornflowerblue;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height:100vh;
    margin:0;
    overflow: hidden;
}

.btn{
    cursor:pointer;
    margin: 1rem;
    padding:1.5rem 3rem;
    border-radius: 5px;
    border:0;
    color:white;
    background-color: coral;
    font-size: 1rem;
    font-weight: bold;
}

.btn:hover{
    opacity: 0.8;
}

.btn:focus{
    outline:none;
}

.btn:active{
    transform:scale(0.98)
}